.wrapper {
    width: 100%;
    max-width: 100%;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 11vh;
    padding: 0 20px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    /* background: linear-gradient(270deg, #fcfcfc, #c82c01, #4fe067, #e2ec76); */
    /* background: linear-gradient(270deg, #7fadc9, rgb(213, 216, 217)); */


}

/* 
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

.banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;


}

.hamburger {
    display: none;
}


/* .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-image: url("/src/components/images/buddhapoint.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    opacity: 0.6;
    filter: grayscale(30%) contrast(90%) brightness(1.5);
    pointer-events: none;
} */

.headingmobile {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    /* Ensures the image inside gets height in % */
}


.banner-image {
    background-image: url("/src/components/images/logmelongblack.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 85px;
    height: 79%;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    background-clip: padding-box;
    padding: 0.2rem;
}


/* Wrap heading and subheading */
.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: rgb(11, 7, 16);
    text-decoration: wavy;
}

.subheading {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: rgb(60, 60, 60);

}

.tabs {
    position: absolute;
    top: 10px;
    right: 1px;
    display: flex;
    gap: 5px;
    padding: 2px;
    margin: 0 0 0 0;
}

.tabs :hover {
    cursor: pointer;
    background: #a2ddc5;
}

.overlay {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242222;
    border: none;
    height: 35px;
    width: 110px;
    font-size: 0.8rem;
    color: white;
    border-radius: 5px;
    margin-top: 1px;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 1px;
    margin-left: 5px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5vh;
    padding: 0 20px;
    background-color: rgb(48, 125, 59);
    gap: 20px;
    z-index: 10;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    box-sizing: border-box;
    z-index: 30;

}

.dropdown {
    display: inline-block;
    height: 100%;
    align-items: center;
    white-space: wrap;
}

.dropdown-btn {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    right: 50px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    width: 120px;
    height: 4vh;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    z-index: 20;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #6f6a6a;
    color: white;
}

.home-icon {
    z-index: 3;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
}

.mobile-tabs {

    display: none;
}

@media (max-width: 950px) {
    .heading {
        display: none
    }

    .subheading {
        display: none;
    }
}


@media (min-width:375px) and (max-width: 775px) {

    body,
    html {
        margin: 0;
        font-size: 14px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .banner-image {
        display: none;
    }

    .mobile-tabs {
        position: absolute;
        top: 10px;
        right: 1%;
        display: flex;
        gap: 5px;
        padding: 2px;
        margin: 0 60px 0 0;
    }

    .heading {
        display: none;
    }

    .subheading {
        display: none;
    }

    .button {
        width: 90px;
        font-size: 0.7rem;
        height: 30px;
        margin-top: 8px;
    }

    .nav-button {
        font-size: 0.9rem;
        margin-top: 5px;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;
    }

    .home-gallery {
        width: 80%;
        padding-top: 15px;
    }

    .welcome-container {
        width: 100%;
        height: auto;
        margin-top: 15px;
        padding: 15px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .welcome-heading {
        font-size: 0.5;
        margin-bottom: 5px;
    }

    .dropdown-container,
    .dropdown {
        display: none;
    }

    .wrapper {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .banner-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .hamburger {
        display: block;
        order: 0;
        position: relative;
        right: 6%;
    }

    .tabs {

        display: none;

    }

    .headingmobile {
        text-align: center;
        display: block;
        margin: 0;
        padding: 0.5rem 0;
        font-size: 1.5rem;
        background: black;
        color: white;
    }

    .navigation {
        display: none;
    }
}