.banner {
    width: 100%;
    height: 160px;
    /* adjust height */
    background: linear-gradient(270deg, #42504f, rgb(226, 224, 113), orange);
    background-size: 800% 800%;
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}