.faq {
    width: 1600px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.faq-item h3 {
    color: black;
}

.faq-item div {
    background-color: rgb(225, 223, 223);
    color: black;
    border-radius: 5px;
    padding: 8px;
}


@media (min-width:375px) and (max-width:475px) {
    .faq {
        max-width: 90%;
        background-color: #ffffff;
    }

}