.home-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    /* Let height grow naturally */
}

.gallery-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    /* Only the image container has fixed height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* <<< IMPORTANT */
    border-radius: 8px;
}

.gallery-controls {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-left: 30px;

}

.prev-btn,
.next-btn {
    background-color: rgba(24, 73, 158, 0.5);
    color: rgb(241, 228, 228);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn:focus,
.next-btn:focus {
    outline: none;
}