body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-y: scroll;
  /* enable vertical scrolling */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  color: #d7d5d5;
  margin-right: 10px;
  margin-bottom: 8px;
  size: 35px;
  margin-top: 7px;
  margin-left: 5px;
}

.icon2 {
  color: #d7d5d5;
  margin-right: 10px;
  margin-bottom: 8px;
  size: 35px;
  margin-top: 9px;
  margin-left: 5px;
}

.icon:hover {
  color: #007bff;
  cursor: pointer;
}